.noUi-target {
    border-radius: 0% !important;
    border: 0.2rem solid #000 !important;
    margin: 2rem;
    cursor: pointer;
}

.noUi-connect {
    background: rgb(214, 213, 213) !important;
    opacity: 80%;
}

.noUi-tooltip {
    font-size: 1rem;
    border-radius: 0% !important;
    border: 0.1rem solid #000 !important;
}

.noUi-touch-area {
    border-radius: 0%;
    border: 0.2rem solid #000;
    cursor: pointer;
}